body {background-color: #080828; margin:60px; padding:50px; font-family: serif;color: white;}
h1 {color: white; font-family: palatino; text-align:left;}
h2 {color: white; font-family: palatino; text-align:left;}
h3 {color: white; font-family: palatino; text-align:left;}
h4 {color: white; font-family: palatino; text-align:left;}
h5 {color: white; font-family: palatino; text-align:left;}
p {color: white; text-align: justify; font-family:palatino; font-size: large;}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

blockquote {
  font-family: palatino; font-size: medium; text-align:justify; color:white;
}
